@use "../abstracts" as *;

.btn {
  @include flexLayout(flex);
  padding: 14px 32px;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
  font-family: "Libre Franklin", sans-serif;
}
